header {
	background-color: #0275bd;
	padding: 20px;
}
header .box {
background-color: #9cc2ff;
padding: 0;
}
header .box a {
display: inline-block;
width: 100%;
height: 100%;
font-size: 40px;
padding: 20px 0;
text-align: center;
text-decoration: none;
}
